{{ with .Site.Data.features }}
  {{ if .enable }}
    <section class="features" id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto">
            <div class="features-title">
              <h1>
                {{ .title }}
              </h1>
            </div>
          </div>
        </div>
        <div class="row align-items-center my-5">
          <div class="col-lg-6">
            <div class="features-image my-5">
              <img
                src={{ .section1image }}
                alt="features-image"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="features-content ml-25">
              <h2>
                {{ .section1title }}
              </h2>
              <p>
                {{ .section1description1 }}
              </p>
              <p>
                {{ .section1description2 }}
              </p>
              <p>
                {{ .section1description3 }}
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-center my-5">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="features-content mr-25">
              <h2>
                {{ .section2title }}
              </h2>
              <p>
                {{ .section2description1 }}
              </p>
              <p>
                {{ .section2description2 }}
              </p>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="features-image my-5">
              <img
                src={{ .section2image }}
                alt="features-image"
              />
            </div>
          </div>
        </div>
        <div class="row align-items-center my-5">
          <div class="col-lg-6">
            <div class="features-image my-5">
              <img
                      src={{ .section3image }}
                      alt="features-image"
              />
            </div>
          </div>
          <div class="col-lg-6">
            <div class="features-content ml-25">
              <h2>
                {{ .section3title }}
              </h2>
              <p>
                {{ .section3description1Line1 }}
                <br>
                {{ .section3description1Line2 }}
              </p>
              <p>
                {{ .section3description2 }}
              </p>
            </div>
          </div>
        </div>
        <div class="row align-items-center my-5">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="features-content mr-25">
              <h2>
                {{ .section4title }}
              </h2>
              <p>
                {{ .section4description1 }}
              </p>
              <p>
                {{ .section4description2 }}
              </p>
              <div class="features-content-list">
                <ul>
                  {{ $Section := .checkItem }}
                  {{ range $Section }}
                  <li>
                    <i class="ti-check"></i>
                    <p> {{ .text }} </p>
                  </li>
                  {{ end }}
                </ul>
              </div>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="features-image my-5">
              <img
                      src={{ .section4image }}
                      alt="features-image"
              />
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
