{{ with .Site.Data.hero }}
  {{ if .enable }}
    <section class="hero" id="hero">
      <div class="container">
        <div class="row align-items-center">
          <div class="col-lg-6 order-2 order-lg-1">
            <div class="hero-content">
              <span class="hero-content-subtitle"> {{ .caption }} </span>
              <h1> {{ .title }} </h1>
              <p>
                {{ .descriptionLine1 }}
                <br>
                {{ .descriptionLine2 }}
              </p>
              <a href="{{ .buttonUrl }}" class="btn btn-sm btn-primary-filled">
                {{ .buttonLabel }}
              </a>
            </div>
          </div>
          <div class="col-lg-6 order-1 order-lg-2">
            <div class="hero-image">
              <img src={{ .image }} alt="hero-img" />
            </div>
          </div>
        </div>
      </div>
    </section>
  {{ end }}
{{ end }}
