{{ with .Site.Data.pricing }}
    {{ if .enable }}
      <section class="pricing" id="pricing">
        <div class="container">
          <div class="section-title">
            <h2>{{ .title }}</h2>
          </div>

          <div class="row justify-content-center">
              {{ $plans := .plans }}
              {{ range $plans }}
                <div class="col-lg-4 col-md-6">
                  <div class="pricing-item">
                    <div class="pricing-content">
                      <h4>{{ .title }}</h4>
                      <h2 class="text-primary">{{ .price }}</h2>
                      <p>{{ .description | safeHTML }}</p>
                    </div>
                  </div>
                </div>
              {{ end }}
          </div>

          <div class="text-center mt-5">
            <a href="{{ .btn.url }}" class="btn btn-primary">{{ .btn.label }}</a>
          </div>

        </div>
      </section>
    {{ end }}
{{ end }}
